@page "/login"

<PageTitle>Entra com a sua conta</PageTitle>

<h3>Login</h3>

@* 1 tag form > 1 campo para username, 1 campo para senha, 1 botão *@
<form>
	<div class="mb-3">
		<label for="login" class="form-label">username </label>
		<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Usuario">
	</div>
	<div class="mb-3">
		<label for="senha" class="form-label">senha</label>
		<input type="password" class="form-control" id="exampleFormControlTextarea1" placeholder="Senha"/>
	</div>

	<div>
		<input type="button" id="" class="btn btn-dark" value="Entrar" />
	</div>
</form>

@code {

}
